body,
html {
    background:url(img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior:smooth;
}

#adwent_artcl {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 25px;
    width: 80%;
}

.adwent_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: 0.5s;
}
.adwent_div:hover {
    box-shadow: 5px 10px 10px rgba(20, 36, 37, 0.7);
    transition: 0.2s;
    background-color: rgb(196, 219, 219);
}

#adwent_artcl,
#song_artcl {
    margin: 50px auto 50px;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0px 0px 5px rgba(20, 36, 37, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
}

#song_artcl {
    margin-top: 50px !important;
    width: 80%;
    display: flex;
}

#song_tekst {
    width: 80%;
    font-size: 1.4em;
    color: #ffffffb2;
}

#fire img {
    height: 100%;
    width: 20em;
}

#top_button {
    display: flex;
    width: 2em;
    height: 2em;
    position:fixed;
    bottom: 2em;
    right: 2em;
    background-color: rgba(51, 167, 97, 0.7);
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 45%;
}

#top_button:hover {
    width: 2.1em;
    height: 2.1em;
    box-shadow: 5px 5px 10px rgba(51, 167, 97, 0.8);
    transition: 0.2s;
}

#top_burron:active,
.adwent_div:active {
    background-color: rgba(224, 228, 225, 0.7);
}

.overley {
    background-image: url(img/background.png);
    height: 10em;
}