body,
html {
    background:url(img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#adwent_artcl {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 25px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.adwent_div {
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 15px;
      transition: 0.5s;
}
.adwent_div:hover {
    box-shadow: 5px 10px 10px rgba(20, 36, 37, 0.7);
    transition: 0.2s;
    background-color: rgb(196, 219, 219);
}

#song_artcl {
    margin-top: 50px;
    width: 80%;
    margin: auto;
    display: flex;
}

#song_tekst {
    width: 85%;
    font-size: 21px;
}

#fire img {
    height: 1000px;
    width: 250px;
}
